{% extends 'layout.html' %}

{% block content %}
<style>
  table {
    width: 100%;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th a {
    color: inherit;
  }
</style>
  <div class="timeline">
    <div class="">
      <h2>의사 목록</h2>
      <table border="1">
        <thead>
        <tr>
        <tr>
          <th><a href="/list?doctorSort=id&doctorOrder={{ 'desc' if currentDoctorSort == 'id' and currentDoctorOrder == 'asc' else 'asc' }}">ID</a></th>
          <th><a href="/list?doctorSort=role&doctorOrder={{ 'desc' if currentDoctorSort == 'role' and currentDoctorOrder == 'asc' else 'asc' }}">직위</a></th>
          <th><a href="/list?doctorSort=year&doctorOrder={{ 'desc' if currentDoctorSort == 'year' and currentDoctorOrder == 'asc' else 'asc' }}">연차</a></th>
          <th><a href="/list?doctorSort=salary&doctorOrder={{ 'desc' if currentDoctorSort == 'salary' and currentDoctorOrder == 'asc' else 'asc' }}">연봉</a></th>
          <th><a href="/list?doctorSort=state&doctorOrder={{ 'desc' if currentDoctorSort == 'state' and currentDoctorOrder == 'asc' else 'asc' }}">상태</a></th>
          <th><a href="/list?doctorSort=name&doctorOrder={{ 'desc' if currentDoctorSort == 'name' and currentDoctorOrder == 'asc' else 'asc' }}">이름</a></th>
          <th><a href="/list?doctorSort=gender&doctorOrder={{ 'desc' if currentDoctorSort == 'gender' and currentDoctorOrder == 'asc' else 'asc' }}">성별</a></th>
          <th><a href="/list?doctorSort=age&doctorOrder={{ 'desc' if currentDoctorSort == 'age' and currentDoctorOrder == 'asc' else 'asc' }}">나이</a></th>
          <th><a href="/list?doctorSort=phone_number&doctorOrder={{ 'desc' if currentDoctorSort == 'phone_number' and currentDoctorOrder == 'asc' else 'asc' }}">전화번호</a></th>
          <th><a href="/list?doctorSort=department&doctorOrder={{ 'desc' if currentDoctorSort == 'department' and currentDoctorOrder == 'asc' else 'asc' }}">전공</a></th>
          {% if user.authority == "병원장" %}
            <th>수정</th>
            <th>삭제</th>
          {% endif %}
          </th>
        </tr>
        </thead>
        <tbody>
        {% for doctor in doctor %}
        <tr>
          <td>{{ doctor.ID }}</td>
          <td>{{ doctor.Role }}</td>
          <td>{{ doctor.Year }}</td>
          <td>{{ doctor.Salary }}</td>
          <td>{{ doctor.State }}</td>
          <td>{{ doctor.Name }}</td>
          <td>{{ doctor.Gender }}</td>
          <td>{{ doctor.Age }}</td>
          <td>{{ doctor.PhoneNumber }}</td>
          <td>{{ doctor.Department }}</td>
          {% if user.authority == "병원장" %}
            <td>
              <input type="radio" name="selected" value="{{ doctor.PhoneNumber }}" onclick="showEditFields('{{ doctor.PhoneNumber }}', '{{ doctor.Role }}')">
            </td>
            <td>
              <!-- 삭제 버튼 추가 -->
              <a href="/delete-staff?phone_number={{ doctor.PhoneNumber }}">삭제</a>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
      <h2>간호사 목록</h2>
      <table border="1">
        <thead>
        <tr>
        <tr>
          <th><a href="/list?nurseSort=id&nurseOrder={{ 'desc' if currentNurseSort == 'id' and currentNurseOrder == 'asc' else 'asc' }}">ID</a></th>
          <th><a href="/list?nurseSort=role&nurseOrder={{ 'desc' if currentNurseSort == 'role' and currentNurseOrder == 'asc' else 'asc' }}">직위</a></th>
          <th><a href="/list?nurseSort=year&nurseOrder={{ 'desc' if currentNurseSort == 'year' and currentNurseOrder == 'asc' else 'asc' }}">연차</a></th>
          <th><a href="/list?nurseSort=salary&nurseOrder={{ 'desc' if currentNurseSort == 'salary' and currentNurseOrder == 'asc' else 'asc' }}">연봉</a></th>
          <th><a href="/list?nurseSort=state&nurseOrder={{ 'desc' if currentNurseSort == 'state' and currentNurseOrder == 'asc' else 'asc' }}">상태</a></th>
          <th><a href="/list?nurseSort=name&nurseOrder={{ 'desc' if currentNurseSort == 'name' and currentNurseOrder == 'asc' else 'asc' }}">이름</a></th>
          <th><a href="/list?nurseSort=gender&nurseOrder={{ 'desc' if currentNurseSort == 'gender' and currentNurseOrder == 'asc' else 'asc' }}">성별</a></th>
          <th><a href="/list?nurseSort=age&nurseOrder={{ 'desc' if currentNurseSort == 'age' and currentNurseOrder == 'asc' else 'asc' }}">나이</a></th>
          <th><a href="/list?nurseSort=phone_number&nurseOrder={{ 'desc' if currentNurseSort == 'phone_number' and currentNurseOrder == 'asc' else 'asc' }}">전화번호</a></th>
          {% if user.authority == "병원장" %}
            <th>수정</th>
            <th>삭제</th>
          {% endif %}
        </tr>
        </tr>
        </thead>
        <tbody>
        {% for nurse in nurse %}
        <tr>
          <td>{{ nurse.ID }}</td>
          <td>{{ nurse.Role }}</td>
          <td>{{ nurse.Year }}</td>
          <td>{{ nurse.Salary }}</td>
          <td>{{ nurse.State }}</td>
          <td>{{ nurse.Name }}</td>
          <td>{{ nurse.Gender }}</td>
          <td>{{ nurse.Age }}</td>
          <td>{{ nurse.PhoneNumber }}</td>
          {% if user.authority == "병원장" %}
            <td>
              <input type="radio" name="selected" value="{{ nurse.PhoneNumber }}" onclick="showEditFields('{{ nurse.PhoneNumber }}', '{{ nurse.Role }}')">
            </td>
            <td>
              <!-- 삭제 버튼 추가 -->
              <a href="/delete-staff?phone_number={{ nurse.PhoneNumber }}">삭제</a>
            </td>
          {% endif %}
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- 수정 필드가 나타나는 부분 -->
    <div id="editFields" style="display:none;">
      <h3>해당 직원 정보 수정</h3>
      <form action="/update-staff" method="POST">
        <input type="hidden" id="PhoneNumber" name="phone_number">
        <input type="hidden" id="UserType" name="user_type">
        <div>
          <label for="join-authority-type">사용자 권한</label>
          <select id="join-authority-type" name="authority_type" required>
            <option value="0">병원장</option>
            <option value="1">전공 교수</option>
            <option value="2">수간호사</option>
            <option value="3">의사|간호사</option>
          </select>
        </div>
        <div class="input-group">
          <label for="join-gender">성별</label>
          <select id="join-gender" name="gender" required>
            <option value="M">남성</option>
            <option value="F">여성</option>
          </select>
        </div>
        <div>
          <label for="newYear">연차:</label>
          <input type="text" id="newYear" name="year" placeholder="예: (6년차면) 6" required>
        </div>
        <div>
          <label for="newSalary">연봉:</label>
          <input type="text" id="newSalary" name="salary" placeholder="예: (1.2억이면) 1.2" required>
        </div>
        <div>
          <label for="newName">이름:</label>
          <input type="text" id="newName" name="name" placeholder="OOO" required>
        </div>
        <div>
          <label for="newAge">나이</label>
          <input type="text" id="newAge" name="age" placeholder="예: (35살이면) 35" required>
        </div>
        <div id ="newDepartment">
          <label for="newDepartment">전공:</label>
          <input type="text" id="Department" name="department" placeholder="예: 피부과 | 정형외과 등">
        </div>
        <button type="submit">수정</button>
      </form>
    </div>
  </div>
<a id="back" href="/" class="btn">뒤로가기</a>
{% endblock %}

{% block script %}
<script>
  function showEditFields(phoneNumber, role) {
    document.getElementById('PhoneNumber').value = phoneNumber;
    document.getElementById('UserType').value = role;
    const authorityTypeSelect = document.getElementById('join-authority-type');
    const departmentField = document.getElementById('newDepartment');

    if (role === '간호사' || role === '수간호사') {
      departmentField.style.display = 'none';
      authorityTypeSelect.querySelector('option[value="0"]').disabled = true;  // "병원장" 옵션 숨기기
      authorityTypeSelect.querySelector('option[value="1"]').disabled = true;  // "전공 교수" 옵션 숨기기
    } else {
      departmentField.style.display = 'block';
      authorityTypeSelect.querySelector('option[value="0"]').disabled = false;  // "병원장" 옵션 숨기기
      authorityTypeSelect.querySelector('option[value="1"]').disabled = false;  // "전공 교수" 옵션 활성화
    }
    document.getElementById('editFields').style.display = 'block';
  }
</script>
{% endblock%}
