{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
    {% if user and user.authority != "환자" and user.authority != "보호자" %}
    <div>
        <a id="staff-list" href="/list" class="btn">직원 리스트</a>
        <a id="patient-list" href="/list-patient" class="btn">환자 리스트</a>
        {% if user and user.authority == "병원장" or user.authority == "전공교수" or user.authority == "의사" %}
            <a id="prescription" href="/prescription" class="btn">담당환자 선택 및 처방전 작성</a>
        {% endif %}
        {% if user and user.authority == "수간호사" or user.authority == "간호사" %}
        <a id="prescrip" href="/prescription" class="btn">환자 처방전 열람</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
</script>
{% endblock %}
