{% extends 'layout.html' %}

{% block content %}
<style>
  table {
    width: 100%;
  }

  th, td {
    padding: 10px;
    text-align: left;
  }

  th a {
    color: inherit;
  }
</style>
  <div class="timeline">
    <div class="followings half">
      {% if user and user.authority != "환자" and user.authority != "보호자" %}
      <h2>프로필 설정</h2>
        <form id="state-form" action="/profile/state" method="POST">
          <select id="join-authority-type" name="state" required>
            <option value="출근">출근</option>
            <option value="퇴근">퇴근</option>
          </select>
          <button type="submit" class="btn">저장</button>
        </form>
      {% endif %}
      {% if user and user.authority == "환자" %}
        <h2>환자 정보</h2>
          <table border="1">
            <thead>
            <tr>
            <tr>
              <th>이름</th>
              <th>나이</th>
              <th>성별</th>
              <th>병명</th>
              <th>입원일자</th>
            </tr>
            </tr>
            </thead>
            <tbody>

            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.age }}</td>
              <td>{{ user.gender }}</td>
              <td>{{ user.disease }}</td>
              <td id="hospitalization-date">{{ user.hospitalization_date }}</td>
            </tr>

            </tbody>
          </table>
      {% endif %}
      {% if user and user.authority == "보호자" %}
      <h2>내 환자 정보</h2>
      <table border="1">
        <thead>
        <tr>
        <tr>
          <th>이름</th>
          <th>나이</th>
          <th>성별</th>
          <th>병명</th>
          <th>입원일자</th>
        </tr>
        </tr>
        </thead>
        <tbody>
        {% for prescription in kin %}
        <tr>
          <td>{{ prescription.patient_name }}</td>
          <td>{{ prescription.patient_age }}</td>
          <td>{{ prescription.patient_gender }}</td>
          <td>{{ prescription.patient_disease }}</td>
          <td>{{ prescription.patient_hospitalization_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
    <div class="followers half">
      {% if user and user.authority == "병원장" or user.authority == "전공교수" or user.authority == "의사" %}
      <h2>담당환자 목록</h2>
      <table border="1">
        <thead>
        <tr>
        <tr>
          <th><a href="/profile?mySort=pt.name&myOrder={{ 'desc' if currentmySort == 'pt.name' and currentmyOrder == 'asc' else 'asc' }}">이름</a></th>
          <th><a href="/profile?mySort=pt.gender&myOrder={{ 'desc' if currentmySort == 'pt.gender' and currentmyOrder == 'asc' else 'asc' }}">성별</a></th>
          <th><a href="/profile?mySort=pt.age&myOrder={{ 'desc' if currentmySort == 'pt.age' and currentmyOrder == 'asc' else 'asc' }}">나이</a></th>
          <th><a href="/profile?mySort=p.phone_number&myOrder={{ 'desc' if currentmySort == 'p.phone_number' and currentmyOrder == 'asc' else 'asc' }}">전화번호</a></th>
          <th><a href="/profile?mySort=pt.disease&myOrder={{ 'desc' if currentmySort == 'pt.disease' and currentmyOrder == 'asc' else 'asc' }}">병명</a></th>
          <th><a href="/profile?mySort=pt.acuity_level&myOrder={{ 'desc' if currentmySort == 'pt.acuity_level' and currentmyOrder == 'asc' else 'asc' }}">위험도</a></th>
        </tr>
        </tr>
        </thead>
        <tbody>
        {% for prescription in prescription %}
        <tr>
          <td>{{ prescription.PatientName }}</td>
          <td>{{ prescription.PatientAge }}</td>
          <td>{{ prescription.PatientGender }}</td>
          <td>{{ prescription.patientPhoneNumber }}</td>
          <td>{{ prescription.PatientDisease }}</td>
          <td>{{ prescription.PatientAcuityLevel }}</td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
      {% if user and user.authority == "환자" %}
        <h2>환자 처방</h2>
        <table border="1">
          <thead>
          <tr>
          <tr>
            <th>담당의</th>
            <th>내 처방전</th>
          </tr>
          </tr>
          </thead>
          <tbody>
          {% for prescription in pre %}
          <tr>
            <td>{{ prescription.doctor_name }}</td>
            <td>{{ prescription.prescription }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>
<a id="back" href="/" class="btn">뒤로가기</a>
{% endblock %}

{% block script%}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const dateCell = document.getElementById('hospitalization-date');
    const rawDate = dateCell.textContent.trim(); // 원래 날짜 문자열
    const formattedDate = new Date(rawDate).toISOString().split('T')[0]; // YYYY-MM-DD 변환
    dateCell.textContent = formattedDate;
  });
</script>
{% endblock %}